<html>
  <head>
    <title>Edit Profile Admin</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div id="admin-navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/editProfile">Edit Profile</a></li>
      <li><a href="/addCategory">Add Category</a></li>
      <li><a href="/addProduct">Add Product</a></li>
      <li><a href="/addSubCategory">Add Sub Category</a></li>
      <li><a href="/changePassword">Change Password</a></li>
    </div>
    <h1>Edit your profile add some of your details.</h1>
  </body>
</html>
