<html>
  <head>
    <title>Ejs About Page</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div id="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/service">Service</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </div>
    <h1>This is the About Page of the Website.</h1>
  </body>
</html>
